* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #e0e0e0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}